# Ensure Unix line endings for scripts used inside Linux containers
*.sh text eol=lf
Dockerfile text eol=lf
*.toml text eol=lf

vectorstore/index.faiss filter=lfs diff=lfs merge=lfs -text
vectorstore/index.pkl filter=lfs diff=lfs merge=lfs -text
